.app {
  display: flex;
}
.current {
  display: flex;
  flex-basis: 35%;
  height: 100%;
}
.info {
  display: flex;
  flex-basis: 65%;
  height: 100vh;
  flex-direction: column;
  background-color: #f1f1f4;
}
