.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 2em;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  border-bottom: 1px solid lightgrey;
}
.detail {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  font-size: 1.1em;
}
.img {
  width: 2em;
  height: 2em;
}
.tempInfo,
.dateInfo {
  display: flex;
}
.temp {
  font-size: 4rem;
}
.tempInfo {
  margin-top: 2em;
  margin-bottom: 5em;
}
.tempIcon {
  font-size: 2em;
}
.dateInfo {
  margin-bottom: 1em;
}
.day,
.hour {
  font-size: 1.5em;
}
.hour {
  color: lightgrey;
  margin-left: 0.5em;
}
.locationIcon {
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  right: -2em;
}
.imgAndDes {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.loca {
  display: flex;
}
.locaIcon {
  margin: 0 0.6em;
}
.add {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  cursor: pointer;
}
.addIcon {
  width: 2em;
  height: 2em;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
